<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltSenha</servlet-name>
        <url-pattern>/AltSenha.jsp</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/ais/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.SQLException</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>src.filtro.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--<filter-mapping>
        <filter-name>AuthenticationIpFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>src.filtro.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TimerFilter</filter-name>
        <filter-class>src.filtro.TimerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TimerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/Login</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /opt/tomcat/apache-tomcat-8.0.30/temp/
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>AttUsuarioAdmin</servlet-name>
        <servlet-class>src.admin.AttUsuarioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAdmin</servlet-name>
        <servlet-class>src.admin.CadastroAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirUsuarioAdmin</servlet-name>
        <servlet-class>src.admin.ExibirUsuarioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuariosAdmin</servlet-name>
        <servlet-class>src.admin.ListarUsuariosAdmin</servlet-class>
    </servlet>
    <!--  ====================== MAPEAMENTO =========================   -->
    <!--  ====================== ADMIN =========================   -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>src.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltSenha</servlet-name>
        <servlet-class>src.AltSenha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttUsuarioAdmin</servlet-name>
        <url-pattern>/admin/AttUsuarioAdmin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAdmin</servlet-name>
        <url-pattern>/admin/CadastroAdmin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirUsuarioAdmin</servlet-name>
        <url-pattern>/admin/ExibirUsuarioAdmin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuariosAdmin</servlet-name>
        <url-pattern>/admin/ListarUsuariosAdmin.jsp</url-pattern>
    </servlet-mapping>
    <!-- ====================== ADMIN END =========================-->
</web-app>
